<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="border w-75 mx-auto py-5 rounded-3 bg-dark">
		<div class="d-flex mx-auto justify-content-center">
			<a class="btn btn-primary mx-2" href="/foto"> foto </a>
			<a class="btn btn-primary mx-2" th:href="@{/categoria/create}">Aggiungi una categoria</a>
		</div>
	</div>
	<table class="table mx-auto table-dark table-striped mt-4 w-75">
	  <thead>
	    <tr>
	      <th scope="col">nome</th>
	       <th scope="col">Delete</th>
	        <th scope="col">Edit</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="categoria : ${categorie}"
			th:object="${categoria}">
	      <td>[[*{nome}]]</td>
	      <td><a class="btn btn-danger" th:href="@{/categoria/delete/{id} (id=*{id})}"> DELETE </a></td>
		  <td><a class="btn btn-success" th:href="@{/categoria/update/{id} (id=*{id})}"> EDIT </a></td>
	    </tr>
	  </tbody>
  </table>

</body>
</html>