<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 >AGGIUNGI UNA FOTO</h1>
	
	<form 	method="POST" 
			th:action="@{/foto/create}"
			th:object="${foto}" 
	>
	  <div class="mb-3">
	    <label class="form-label">titolo</label>
	    <input type="text" class="form-control" name="nome" th:field="*{titolo}">
	    
	    <label class="form-label">Descrizione</label>
	    <input type="text" class="form-control" name="descrizione" th:field="*{descrizione}">
	    
	    <label class="form-label">url</label>
	    <input type="text" class="form-control" name="url" th:field="*{url}">
	    
	    <label class="form-label">titolo</label>
	    <input type="text" class="form-control" name="tag" th:field="*{tag}">
	   	
	   	<label class="form-label">SI</label>
	    <input type="radio" class="form-control" name="visibile" value="1"  th:field="*{visibile}">
	    
	    <label class="form-label">NO</label>
	    <input type="radio" class="form-control" name="visibile" value="0"  th:field="*{visibile}">
	  </div>
	  
	   <div 
			th:each="categoria: ${categorie}"
			th:object="${categoria}"
		>
			
			<input 
				type="checkbox" 
				name="categorie" 
				th:value="*{id}" 
				th:field="${foto.categorie}"
			>
	  		<label>[[*{nome}]]</label>
			
		</div>

	  <button type="submit"  value="create">Submit</button>
	</form>
</body>
</html>